{% extends 'base.html.twig' %}

{% block title %} Coordonnées des Patients !{% endblock %}

{% block body %}


    <div class="jumbotron">
        <div class="cantainer">
            <h4>Rechercher un Patient</h4>
            {{ form_start(form) }}
            <div class="form-row align-items-end">
                <div class="col">{{ form_row(form.lastName) }}</div>
                <div class="col">{{ form_row(form.firstName) }}</div>
                <div class="col">{{ form_row(form.nir) }}</div>
                <div class="col">{{ form_row(form.postcode) }}</div>

                <button class="btn-primary"><i class="fa fa-search" aria-hidden="true"></i></button>

            </div>
            {{ form_end(form) }}
        </div>
    </div>
    <div class="container mt:4 ">
        <h3>Liste des patients</h3>
        {% for message in app.flashes ('success') %}
            <div class="alert alert-success">
                {{ message }}
            </div>
        {% endfor %}
    </div>
    <table class="table table-striped">
        <head>
            <tr>
                <th>Doctor</th>
                <th>Nom</th>
                <th>Prénom</th>
                <th style="text-align: center">Action</th>
            </tr>
        </head>
        <tbody>
        {% for patient in patients %}
            <tr>
                <td>{{ patient.DOCTOR }}</td>
                <td>{{ patient.lastName }}</td>
                <td>{{ patient.firstName }}</td>
                <td style="text-align: right">

                    <a href="{{ path('patient_show', {'id':patient.id }) }}" class="btn btn-secondary"> <i class="fa fa-file-o" aria-hidden="true"></i> Fiche Patient </a>

                    <a href="{{ path('consultation_new', {'id':patient.id }) }}" class="btn btn-secondary"> <i class="fa fa-plus-circle" aria-hidden="true"></i> Nouvelle Consultation </a>

                    <a href="{{ path('patient_edit', {'id':patient.id }) }}"  class="btn btn-secondary "> <i class="fa fa-pencil"></i>  </a>

                    <form method="post" action="{{ path('patient_delete', {'id':patient.id }) }}"
                          style="display: inline-block" onsubmit="return confirm('Etes vous vraiment sûr ?')">
                        <input type="hidden" name="_method" value="DELETE">
                        <button class="btn btn-danger" >  <i class="fa fa-trash-o"></i> </button>
                    </form>
                </td>
            </tr>
        {% endfor %}
        </tbody>
    </table>


    <div class="text">

        <a href="{{ path('patient_new' ) }}" class="btn btn-primary"> <i class="fa fa-plus-circle" aria-hidden="true"></i> Nouveau Patient</a>
    </div>

    <br/>
    <br/>

    <div class="text-center">{{ knp_pagination_render(patients) }}</div>

{% endblock %}