{% extends 'base.html.twig' %}

{% block title %} Liste Patients {% endblock %}

{% block body %}

    <table class="table table-striped">
        <h4>Liste Patient</h4>
        <head>
            <tr>
                <th><input type="checkbox" id="master"></th>
{#                <th>Doctor</th>#}
                <th>Nom</th>
                <th>Prénom</th>
                <th style="text-align: center">Action</th>
            </tr>
        </head>
        <tbody>
        {% for patient in patients %}
            <tr>
                <td>
                    <input type="checkbox" class="sub_chk" data-id=" {{ patient.id }}"/>
                </td>
{#                <td>{{ patient.DOCTOR }}</td>#}
                <td>{{ patient.lastName }}</td>
                <td>{{ patient.firstName }}</td>
                <td style="text-align: right">

                    <a href="{{ path('patient_show', {'id':patient.id }) }}" class="btn btn-secondary"> <i
                                class="fa fa-folder-o" aria-hidden="true"></i> Dossier Médical </a>

                    <a href="{{ path('consultation_new', {'id':patient.id }) }}" class="btn btn-secondary"> <i
                                class="fa fa-plus-circle" aria-hidden="true"></i> Nouvelle Consultation </a>

                    <a href="{{ path('patient_edit', {'id':patient.id }) }}" class="btn btn-secondary "> <i
                                class="fa fa-pencil"></i> </a>

                    <form method="post" action="{{ path('patient_delete', {'id':patient.id }) }}"
                          style="display: inline-block" onsubmit="return confirm('Vous voulez vraiment supprimer ce patient ?')">
                        <input type="hidden" name="_method" value="DELETE">
                        <button class="btn btn-danger"><i class="fa fa-trash-o"></i></button>
                    </form>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="5">Aucun résultat</td>
            </tr>
        {% endfor %}


        </tbody>

    </table>
    <div class="text-center">{{ knp_pagination_render(patients) }}</div>
    <div class="text">
        <button class="btn btn-danger delete_all" data-url="/itemDelete"><i class="fa fa-trash-o"></i> Supprimer tout
        </button>
        <a href="{{ path('patient_new' ) }}" class="btn btn-primary"> <i class="fa fa-plus-circle"
                                                                         aria-hidden="true"></i> Nouveau Patient</a>
    </div>

    <br/>
    <br/>



    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <script type="text/javascript">

        $(document).ready(function () {

            $('#master').on('click', function (e) {
                if ($(this).is(':checked', true)) {
                    $(".sub_chk").prop('checked', true);
                } else {
                    $(".sub_chk").prop('checked', false);
                }
            });

            $('.delete_all').on('click', function (e) {

                var allVals = [];
                $(".sub_chk:checked").each(function () {
                    allVals.push($(this).attr('data-id'));
                });

                if (allVals.length <= 0) {
                    alert("Sélectionner un patient");
                } else {

                    var check = confirm("Etes vous sur ?");
                    if (check == true) {

                        var join_selected_values = allVals.join(",");
                        console.log(join_selected_values);
                        $.ajax({
                            url: '/item/deleteAll/',
                            type: 'post',
                            data: 'ids=' + join_selected_values,

                            success: function (data) {
                                console.log(data);
                                $(".sub_chk:checked").each(function () {
                                    $(this).parents("tr").remove();
                                });
                                alert("Item Deleted successfully.");
                            },
                            error: function (data) {
                                alert(data.responseText);
                            }
                        });

                        $.each(allVals, function (index, value) {
                            $('table tr').filter("[data-row-id='" + value + "']").remove();
                        });
                    }
                }
            });
        });
    </script>

{% endblock %}
