{% extends 'base.html.twig' %}

{% block title %} Recherche  Patients {% endblock %}

{% block body %}


    <div class="jumbotron">
        <div class="container">
            <h4>Recherche Patient</h4>

            {{ form_start(form) }}
            <div class="form-row align-items-end">
                <div class="col">{{ form_row(form.lastName) }}</div>
                <div class="col">{{ form_row(form.firstName) }}</div>
                <div class="col">{{ form_row(form.postcode) }}</div>
                <button class="btn-primary"><i class="fa fa-search" aria-hidden="true"></i></button>

            </div>
            {{ form_end(form) }}
        </div>
    </div>

{% endblock %}
{% block javascripts %}

{% endblock %}