{% extends 'base.html.twig' %}

{% block title %}
    Fiche Patient
{% endblock %}

{% block body %}

    <div class="dropdown float-right">
        <button class="btn btn-primary dropdown-toggle" type="button" id="dropdownMenuButton" data-toggle="dropdown"
                aria-haspopup="true" aria-expanded="false"> Sélectionner une action
        </button>
        <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
            <a class="dropdown-item" href="{{ path('patient_index') }}">Liste des patients</a>
            <a class="dropdown-item" href="{{ path('patient_edit', { 'id': patient.id }) }}"> Modifier </a>
            <a class="dropdown-item" href="{{ path('consultation_new', {'id':patient.id }) }}"> Nouvelle
                consultation </a>
            <a class="dropdown-item" href="{{ path('appointment_new', {'id':patient.id }) }}"> Nouveau rdv </a>
            <a class="dropdown-item" href="#">imprimer</a>
        </div>
    </div>
    <br>
         <div class="row">
             <div class="col-md-6">
                 <div class="box">
                     <header>
                         <h4 style=" text-align: center"><i class="fa fa-tag"></i> Identité du patient</h4>
                     </header>
                     <ul class="list-group">
                         <li class="list-group-item"><strong>Nom :</strong> {{ patient.lastName  |upper}}</li>
                         <li class="list-group-item"><strong>Prénom :</strong> {{ patient.firstname |striptags|title }} </li>
                         <li class="list-group-item"><strong>Date de naissance :</strong> {{ patient.birthAt|date('d/m/Y') }}</li>
                         <li class="list-group-item"><strong>Sexe :</strong> {{ patient.gender }}</li>
                         <li class="list-group-item"><strong>NIR :</strong> {{ patient.nir }}</li>
                     </ul>
                 </div>
             </div>
             <div class="col-md-6">
                 <div class="box">
                     <header>
                         <h4 style=" text-align: center"><i class="fa fa-tag"></i> Informations générales</h4>
                     </header>
                     <ul class="list-group">
                         <Li class="list-group-item"><strong>Adresse :</strong> {{ patient.address }}</li>
                         <li class="list-group-item"><strong>Ville :</strong> {{ patient.city }}</li>
                         <li class="list-group-item"><strong>Code Postal :</strong> {{ patient.postcode }}</li>
                         <li class="list-group-item"><strong>Tél :</strong> {{ patient.phone }}</li>
                         <li class="list-group-item"><strong>Adresse email :</strong> <a
                                     href="mailto:{{ patient.email }}">{{ patient.email }}</a></li>
                     </ul>
                 </div>
             </div>
         </div>
     <br>
      <div class="row">
        <div class="col-md-12">
            <div class="box">
                <header style=" text-align: center ">
                    <h4><i class="fa fa-tag"></i> Consultations</h4>
                </header >
                <table class="table table-hover table-bordered">
                    <thead style=" text-align: center ">
                    <tr>
                        <th>Date</th>
                        <th > Motif</th>
                        <th > Ordonnance</th>
                        {#<th>Medecin Traitant</th>#}
                        <th>Diagnostic</th>
                        <th>Traitement</th>
                        <th style="text-align: center">Action</th>
                    </tr>
                    </thead>
                    <tbody style=" text-align: center ">
                    {% for item in patient.consultations %}
                        <tr>
                            <td>{{ item.createdAt|date('d/m/Y') }}</td>
                            <td>{{ item.name }}</td>
                            <td>

                                   <a  href="{{ path('consultation_show', { 'id': item.id }) }} "  onclick="window.open(this.href); return false;  ">
                                       <i style="color:darkslategray" class="fa fa-download"></i> </a>
                            </td>
                            <td>{{ item.diagnostic }}</td>
                            <td>{{ item.treatment  | raw }}</td>
                            <td style="text-align: right">
                                <a href="{{ path('consultation_edit', {'id': item.id }) }}"  class="btn btn-secondary "> <i class="fa fa-pencil"></i>  </a>
                                <form method="post" action="{{ path('consultation_delete', {'id':item.id }) }}"
                                      style="display: inline-block" onsubmit="return confirm('Etes vous vraiment sûr ?')">
                                    <input type="hidden" name="_method" value="DELETE">
                                    <button class="btn btn-danger" >  <i class="fa fa-trash-o"></i> </button>
                                </form>

                            </td>
                        </tr>
                    {% endfor %}
                    </tbody>
                </table>
            </div>
        </div>
    </div>
    <br>

    <br>
<div class="row">
         <div class="col-md-12">
             <div class="box">
                 <header style=" text-align: center">
                     <h4><i class="fa fa-tag"></i> Les Antécédents</h4>
                 </header>
                 <table class="table table-hover table-bordered">
                     <thead>
                     <tr>
                         <th>Antécédents</th>
                         <th>Allergies</th>
                         <th>Traitements antérieurs</th>
                         <th>Autres</th>
                     </tr>
                     </thead>
                     <tbody >
                     {% for item in patient.consultations %}
                         <tr>
                             <td>{{ item.medFamilyHistory }}</td>
                             <td>{{ item.allergies }}</td>
                             <td>{{ item.medTreatmentHistory }}</td>
                             <td>{{ item.others }}</td>
                         </tr>
                     {% endfor %}
                     </tbody>
                 </table>
             </div>
         </div>
     <br>
</div>
    <div class="row">
        <div class="col-md-12">
            <div class="box">
                <header>
                    <h4 style=" text-align: center"><i class="fa fa-tag"></i> Liste des Rdv</h4>
                </header>
                <table class="table table-hover table-bordered">
                    <thead>
                    <tr>
                        <th>Titre</th>
                        <th>Date du Rdv</th>
                        <th style="text-align: center">Action</th>

                    </tr>
                    </thead>
                    <tbody>
                    {% for item in patient.appointments %}
                        <tr>
                            <td><a href="{{ path('appointment_show', { 'id': item.id}) }}">{{ item.title }}</a></td>
                            <td>{{ item.startAt|date('d/m/Y H:i:s') }}</td>
                            <td style="text-align: right">
                                <a href="{{ path('appointment-edit', {'id': item.id, mode:1, 'pid':item.patient.id }) }}"  class="btn btn-secondary "> <i class="fa fa-pencil"></i>  </a>
                            </td>
                        </tr>
                    {% endfor %}
                    </tbody>
                </table>
            </div>
        </div>
    </div>


 {% endblock %}



{% block javascripts %}
    <script src="https://code.jquery.com/jquery-3.4.1.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"
            integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1"
            crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"
            integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM"
            crossorigin="anonymous"></script>
{% endblock %}