{% extends 'base.html.twig' %}

{% block title %} Afficher les rdv {% endblock %}

{% block body %}
    <h1>Afficher les rdv </h1>

    <table class="table">
        <thead>
            <tr>
                <th>Médecin</th>
                <th>Patient </th>
                <th>Date du Rdv </th>
                <th>Fin de Rdv </th>
                <th>actions</th>
            </tr>
        </thead>
        <tbody>
        {% for booking in bookings %}
            <tr>
                <td> {{ booking.doctor }}</td>
                <td>{{ booking.patient }}</td>
                <td>{{ booking.beginAt ? booking.beginAt|date('Y-m-d H:i:s') : '' }}</td>
                <td>{{ booking.endAt ? booking.endAt|date('Y-m-d H:i:s') : '' }}</td>

                <td>
                    <a href="{{ path('booking_show', {'id':booking.id }) }}" class="btn btn-secondary"> <i class="fa fa-file-o" aria-hidden="true"></i> Fiche Rdv </a>
                    <a href="{{ path('booking_edit', {'id': booking.id}) }}" class="btn btn-secondary"> <i class="fa fa-pencil"></i> </a>
                    <form method="post" action="{{ path('booking_delete', {'id':booking.id }) }}"
                          style="display: inline-block" onsubmit="return confirm('Etes vous vraiment sûr ?')">
                        <input type="hidden" name="_method" value="DELETE">
                        <button class="btn btn-danger"><i class="fa fa-trash-o"></i></button>
                    </form>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="5">Aucun résultat</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>
    <div class="text">

        <a href="{{ path('booking_new') }}" class="btn btn-primary"> <i class="fa fa-plus-circle" aria-hidden="true"></i> Nouveau Rdv</a>
    </div>

    <br/>
    <br/>

    {#<div class="text-center">{{ knp_pagination_render(bookings) }}</div>#}

{% endblock %}
