{% extends 'base.html.twig' %}

{% block title %}Rendez-vous {% endblock %}

{% block body %}
    <h3>{{ booking.patient }}</h3>

    <table class="table">
        <tbody>
        <tr>
            <th>Nom et Prénom du Docteur</th>
            <td>{{ booking.doctor }}</td>
        </tr>
        <tr>
            <th>Nom et Prénom du Patient </th>
            <td>{{ booking.patient }}</td>
        </tr>
        <tr>
            <th>Titre</th>
            <td>{{ booking.title }}</td>
        </tr>
        <tr>
            <th>Debut du Rdv</th>
            <td>{{ booking.beginAt ? booking.beginAt|date('Y-m-d H:i:s') : '' }}</td>
        </tr>
        <tr>
            <th>Fin du Rdv</th>
            <td>{{ booking.endAt ? booking.endAt|date('Y-m-d H:i:s') : '' }}</td>
        </tr>

        </tbody>
    </table>
    <div class="text">

        <a href="{{ path('booking_index') }}" class="btn btn-primary">Liste des Rdv</a>
        <form method="post" action="{{ path('booking_delete', {'id':booking.id }) }}"
              style="display: inline-block" onsubmit="return confirm('Etes vous vraiment sûr ?')">
            <input type="hidden" name="_method" value="DELETE">
            <button class="btn btn-danger" >  <i class="fa fa-trash-o"></i> </button>
        </form>
    </div>
{% endblock %}
{% block javascripts %}

{% endblock %}