{% extends 'base.html.twig' %}

{% block title %} Afficher les rdv {% endblock %}
{% block stylesheets %}
    <link rel="stylesheet" type="text/css" href="https://cdn.datatables.net/1.10.19/css/jquery.dataTables.css">
    {{ parent() }}

{% endblock %}
{% block body %}
    <h1>Liste des rdv </h1>

    <table class="table display" id="table_id">
        {% if is_granted('ROLE_COLLABORATOR') %}
        <thead>
        <tr>
            <th><label for="master"></label><input type="checkbox" id="master"></th>
            <th>Date du rdv</th>
            <th>Docteur</th>
            <th>Patient</th>
            <th>Actions</th>
        </tr>
        </thead>
        <tbody>

        {% for appointment in appointments %}
            <tr>
                <td><label for="master"></label><input type="checkbox" class="sub_chk" id="master"
                                                       data-id=" {{ appointment.id }}"></td>
                <td>{{ appointment.startAt|date('d-m-Y H:i:s') }}</td>
                <td>{{ appointment.DOCTOR.FullName }}</td>
                <td>{{ appointment.patient | upper }}</td>
                <td>
                    <a href="{{ path('appointment_show', {'id':appointment.id }) }}" class="btn btn-secondary"> <i
                                class="fa fa-file-o" aria-hidden="true"></i> Fiche Rdv </a>
                    <a href="{{ path('appointment_new', {'id':appointment.patient.id }) }}" class="btn btn-secondary">
                        <i
                                class="fa fa-plus-circle" aria-hidden="true"></i> Nouveau rdv </a>
                    <a href="{{ path('appointment_edit', {'id': appointment.id}) }}" class="btn btn-secondary"> <i
                                class="fa fa-pencil"></i> </a>
                    <form method="post" action="{{ path('appointment_delete', {'id':appointment.id }) }}"
                          style="display: inline-block"
                          onsubmit="return confirm('Vous voulez vraiment supprimer ce rendez-vous ?')">
                        <input type="hidden" name="_method" value="DELETE">
                        <button class="btn btn-danger"><i class="fa fa-trash-o"></i></button>
                    </form>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="5">Aucun résultat</td>
            </tr>
            <div class="text-center">{{ knp_pagination_render(appointments) }}</div>
        {% endfor %}
        {% endif %}
        </tbody>
        {% if is_granted('ROLE_DOCTOR') %}
        <thead>
        <tr>
            <th><label for="master"></label><input type="checkbox" id="master"></th>
            <th>Date du rdv</th>
            <th>Patient</th>
            <th>Actions</th>
        </tr>
        </thead>
        <tbody>
        {% for appointment in appointments %}
            <tr>
                <td><label for="master"></label><input type="checkbox" class="sub_chk" id="master"
                                                       data-id=" {{ appointment.id }}"></td>
                <td>{{ appointment.startAt | date('d-m-Y H:i:s') }}</td>
                <td>{{ appointment.patient | upper }}</td>
                <td>
                    <a href="{{ path('appointment_show', {'id':appointment.id }) }}" class="btn btn-secondary"> <i
                                class="fa fa-file-o" aria-hidden="true"></i> Fiche Rdv </a>
                    <a href="{{ path('appointment_new', {'id':appointment.patient.id }) }}" class="btn btn-secondary">
                        <i
                                class="fa fa-plus-circle" aria-hidden="true"></i> Nouveau Rdv </a>
                    <a href="{{ path('appointment_edit', {'id': appointment.id}) }}" class="btn btn-secondary"> <i
                                class="fa fa-pencil"></i> </a>
                    <form method="post" action="{{ path('appointment_delete', {'id':appointment.id }) }}"
                          style="display: inline-block" onsubmit="return confirm('Etes vous vraiment sûr ?')">
                        <input type="hidden" name="_method" value="DELETE">
                        <button class="btn btn-danger"><i class="fa fa-trash-o"></i></button>
                    </form>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="5">Aucun résultat</td>
            </tr>

        {% endfor %}
        {% endif %}
        </tbody>
    </table>
    <div class="text">
        <button class="btn btn-danger delete_all" data-url="/itemDelete"><i class="fa fa-trash-o"></i> Supprimer tout
        </button>
        <a href="{{ path('appointment_new') }}" class="btn btn-primary"> <i class="fa fa-plus-circle"
                                                                            aria-hidden="true"></i> Nouveau Rdv</a>
    </div>
    <div class="text-center">{{ knp_pagination_render(appointments) }}</div>
    <div class="text-center">{{ knp_pagination_render(appointments) }}</div>
    <br/>
    <br/>


    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <script type="text/javascript">
        $(document).ready(function () {
            $.fn.dataTable.moment('DD-MM-YYYY HH:mm:ss');

            $('#table_id').DataTable({
                dom: 'ftlp',

                pagingType: "simple_numbers",
                columnDefs: [
                    {"orderable": false, "targets": 0},
                ],
                language: {
                    url: "/DataTables/media/French.json"
                },
            });
        });
        $(document).ready(function () {

            $('#master').on('click', function (e) {
                if ($(this).is(':checked', true)) {
                    $(".sub_chk").prop('checked', true);
                } else {
                    $(".sub_chk").prop('checked', false);
                }
            });

            $('.delete_all').on('click', function (e) {

                var allVals = [];
                $(".sub_chk:checked").each(function () {
                    allVals.push($(this).attr('data-id'));
                });

                if (allVals.length <= 0) {
                    alert("Sélectionner un patient");
                } else {

                    var check = confirm("Etes vous sur de supprimer ?");
                    if (check === true) {

                        var join_selected_values = allVals.join(",");
                        console.log(join_selected_values);
                        $.ajax({
                            url: '/item/deleteAll_appointment/',
                            type: 'post',
                            data: 'ids=' + join_selected_values,

                            success: function (data) {
                                console.log(data);
                                $(".sub_chk:checked").each(function () {
                                    $(this).parents("tr").remove();
                                });
                                alert("Elément(s) supprimé(s) avec succès!");
                            },
                            error: function (data) {
                                alert(data.responseText);
                            }
                        });

                        $.each(allVals, function (index, value) {
                            $('table tr').filter("[data-row-id='" + value + "']").remove();
                        });
                    }
                }
            });
        });
    </script>
{% endblock %}
