<!DOCTYPE html>
<html lang="{{ app.request.locale }}">
<head>
    <meta charset="UTF-8">

    <link href="https://cdnjs.cloudflare.com/ajax/libs/select2/4.0.2-rc.1/css/select2.css" rel="stylesheet"/>
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title>
        {% block title %}
            {% if title is defined %}{{ title }}{% else %}Bienvenue sur InnovMed{% endif %}
        {% endblock %}
    </title>
    {% block stylesheets %}
        {# lien bootstrap #}
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css"
              integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm"
              crossorigin="anonymous">
        <link rel="stylesheet" href="https://bootswatch.com/4/cerulean/bootstrap.min.css">
        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
        <link rel="stylesheet"
              href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-datetimepicker/4.17.47/css/bootstrap-datetimepicker-standalone.css">

    {% endblock %}
</head>
<body>
{% block nav %}
    <header class="navbar navbar-expand  flex-column flex-md-row bd-navbar">
        <nav id="main-nav"
             class="container-fluid navbar navbar-expand-lg navbar-light bg-light border rounded mb-3 d-flex">
            <div class="container-fluid">

                <a class="navbar-brand mr-0 mr-md-2" href="{{ path('home') }}" aria-label="Bootstrap">
                    <img class="img-fluid seat" src="{{ asset('/images/innov-med.jpg') }}"
                         style="width: 30%; height:100px " alt="logo"/>
                </a>

                <div class="navbar-nav-scroll">
                    <ul class="navbar-nav bd-navbar-navf lex-row ml-md-auto d-none d-md-flex ">
                        {% if is_granted('ROLE_DOCTOR') %}
                            <li class="nav-item {% if mainNavDoctor is defined %}active{% endif %}">
                                <a class="nav-link border-dark" href="{{ path('home') }}">Espace
                                    Médecins</a>
                            </li>
                        {% endif %}
                        {% if is_granted('ROLE_COLLABORATOR') %}
                            <li class="nav-item {% if mainNavCollaborator is defined %}active{% endif %}">
                                <a class="nav-link border-bottom" href="{{ path('home') }}">Espace
                                    Collaborateurs</a>
                            </li>
                        {% endif %}
                    </ul>
                    <ul class="navbar-nav flex-row ">

                        {% if is_granted('ROLE_USER') %}

                            <li class="nav-item ">
                                <a class="nav-item btn btn-secondary border-bottom"><i class="fa fa-user fa-fw"></i>
                                    Bienvenue {{ app.user.username | title }}  </a>
                            </li>
                        {% endif %}



                        {% if is_granted('ROLE_USER') %}
                            <li class="nav-item">
                                <a class="nav-link" href="{{ path('fos_user_security_logout') }}">Déconnexion</a>
                            </li>
                        {% else %}
                            <li class="nav-item {% if mainNavLogin is defined %}active{% endif %}">
                                <a class="nav-link" href="{{ path('fos_user_security_login') }}">Connexion</a>
                            </li>
                        {% endif %}
                    </ul>
                </div>
            </div>
        </nav>
    </header>
{% endblock %}

<div class="container-fluid">
    <div class="row flex-xl-nowrap">
        <nav class="navbar navbar-expand-lg navbar-light bg-light ">

            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
                    aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarSupportedContent">
                <ul class="navbar-nav mr-auto flex-column">
                    <li class="nav-item ">
                        <a class="nav-link" href="#">Actualité <span class="sr-only">(current)</span></a>
                    </li>
                    {% if is_granted('ROLE_DOCTOR') %}
                        <li class="nav-item">
                            <a  class="nav-link " href="{{ path('patient_rechercher') }}">Rechercher un patient </a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="{{ path('patient_index') }}">Liste des patients</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="{{ path('patient_new') }}">Nouveau patient</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="{{ path('consultation_new') }}">Nouvelle consultation</a>
                        </li>
                    {% endif %}
                    {% if is_granted('ROLE_USER') %}
{#                        <li class="nav-item">#}
{#                            <a class="nav-link" href="{{ path('booking_calendar') }}"> Agenda </a>#}
{#                        </li>#}

                        <li class="nav-item">
                            <a class="nav-link" href="{{ path('booking_index') }}">Liste des Rdv</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="{{ path('booking_new') }}">Nouveau Rdv</a>
                        </li>
                    {% endif %}
                </ul>

            </div>

        </nav>
        <main class="col-lg-12 col-md-9 col-xl-8 py-md-3 pl-md-5" role="main">
            {% for message in app.flashes('success') %}
                <div class="alert alert-success">
                    {{ message }}
                </div>
            {% endfor %}
            {% block body %}{% endblock body %}
        </main>
    </div>
</div>

{#{% block footer %}#}
{#<footer id="footer" class="border-top">#}
{#<div class="container">#}
{#<h5>InnovMed</h5>#}
{#</div>#}
{#</footer>#}
{#{% endblock %}#}


{% block javascripts %}
    <script src="{{ asset('bundles/tetranzselect2entity/js/select2entity.js') }}"></script>
    <script src="https://code.jquery.com/jquery-3.4.1.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"
            integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1"
            crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"
            integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM"
            crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/moment.js/2.24.0/moment.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-datetimepicker/4.17.47/js/bootstrap-datetimepicker.min.js"></script>
{% endblock javascripts %}

</body>

</html>