<!DOCTYPE html>
<html lang="{{ app.request.locale }}">
    <head>
        <meta charset="UTF-8">

        <link href="https://cdnjs.cloudflare.com/ajax/libs/select2/4.0.2-rc.1/css/select2.css" rel="stylesheet"/>
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
        <title>
        {% block title %}
            {% if title is defined %}{{title}}{% else %}Bienvenue sur InnovMed{% endif %}
        {% endblock %}
        </title>
    {% block stylesheets %}
        {# lien bootstrap #}
        {#<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"#}
        {#integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">#}
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css"
              integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
        <link rel="stylesheet" href="https://bootswatch.com/4/cerulean/bootstrap.min.css">
        <link rel="stylesheet"  href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
    {% endblock %}
    </head>
    <body>
        {% block nav %}
            <header>
                <nav id="main-nav" class="container-fluid navbar navbar-expand-lg navbar-light bg-light border rounded mb-3 d-flex >
                    <a class="navbar-brand " href="{{ path('home') }}">InnovMed</a>
                    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarColor03"
                                aria-controls="navbarColor03" aria-expanded="false" aria-label="Toggle navigation">
                            <span class="navbar-toggler-icon"></span>
                    </button>

                    <ul class="navbar-nav mr-auto p-2">
                        {% if is_granted('ROLE_DOCTOR') %}
                            <li class="nav-item {% if mainNavDoctor is defined %}active{% endif %}">
                                <a class="nav-link" href="{{ path('consultation_new') }}">Espace Médecins</a>
                            </li>
                        {% endif %}
                        {% if is_granted('ROLE_COLLABORATOR') %}
                            <li class="nav-item {% if mainNavManager is defined %}active{% endif %}">
                                <a class="nav-link" href="{{ path('booking_calendar') }}">Espace Collaborateurs</a>
                            </li>
                        {% endif %}
                    </ul>

                    <ul class="navbar-nav p-2">
                        {% if is_granted('ROLE_USER') %}

                            <li class="nav-item ">
                                {#{{ dump(app.user) }}#}
                                {#<a class="btn btn-primary" href="#"><i class="fa fa-user "></i> Bienvenue {{ app.user.username | title }}</a>#}
                                <a class="nav-item btn btn-secondary"><i class="fa fa-user fa-fw"></i>  Bienvenue {{ app.user.username | title }}  </a>
                            </li>
                        {% endif %}
                    </ul>

                    <ul class="navbar-nav p-2">
                        {% if is_granted('ROLE_USER') %}
                            <li class="nav-item">
                                <a class="nav-link" href="{{ path('fos_user_security_logout') }}">Déconnexion</a>
                            </li>
                        {% else %}
                            <li class="nav-item {% if mainNavLogin is defined %}active{% endif %}">
                                <a class="nav-link" href="{{ path('fos_user_security_login') }}">Connexion</a>
                            </li>
                        {% endif %}
                    </ul>
                 </nav>
            </header>
        {% endblock %}

        <div class="container-fluid">
            <div class="row flex-xl-nowrap">
                <div class="col-12 col-md-3 col-xl-2 bd-sidebar">
                    <nav class="navbar navbar-expand-lg navbar-light bg-light border rounded mb-3">
                            <ul class="navbar-nav mr-auto flex-column">
                                <li class="nav-item ">
                                    <a class="nav-link" href="#">Actualité <span class="sr-only">(current)</span></a>
                                {% if is_granted('ROLE_DOCTOR') %}
                                    <li class="nav-item ">
                                        <a class="nav-link" href="{{ path('patient_index') }}">Voir les patients<span
                                                    class="sr-only">(current)</span></a>
                                    </li>
                                    <li class="nav-item">
                                        <a class="nav-link" href="{{ path('patient_new') }}">Ajouter un patient</a>
                                    </li>
                                    <li class="nav-item">
                                        <a class="nav-link" href="{{ path('consultation_new') }}">Nouvelle consultation</a>
                                    </li>
                                {% endif %}
                                {% if is_granted('ROLE_USER') %}
                                    <li class="nav-item">
                                        <a class="nav-link" href="{{ path('booking_new') }}">Ajouter un Rdv</a>
                                    </li>
                                    <li class="nav-item">
                                        <a class="nav-link" href="{{ path('booking_index') }}">Liste des Rdv</a>
                                    </li>
                                {% endif %}
                            </ul>
                    </nav>
                </div>




            <div class="container">

                {% block body %}{% endblock body %}
            </div>
        </div>
        </div>

            {#{% block footer %}#}
                {#<footer id="footer" class="border-top">#}
                    {#<div class="container">#}
                        {#<h5>InnovMed</h5>#}
                    {#</div>#}
                {#</footer>#}
            {#{% endblock %}#}


            {% block javascripts %}

                <script src="{{ asset('bundles/tetranzselect2entity/js/select2entity.js') }}"></script>
        <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"
                integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo"
                crossorigin="anonymous"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"
                integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1"
                crossorigin="anonymous"></script>
        <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"
                integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM"
                crossorigin="anonymous"></script>

    {% endblock javascripts %}

    </body>

</html>
{#<nav class="navbar navbar-expand-lg navbar-light bg-light flex-column">#}
    {#<div class="collapse navbar-collapse" id="navbarColor03">#}
        {#<ul class="navbar-nav mr-auto flex-column">#}
            {#{% if is_granted('ROLE_DOC') %}#}
                {#<li class="nav-item ">#}
                    {#<a class="nav-link" href="{{ path('patient_index') }}">Voir les patients<span#}
                                {#class="sr-only">(current)</span></a>#}
                {#</li>#}
                {#<li class="nav-item">#}
                    {#<a class="nav-link" href="{{ path('patient_new') }}">Ajouter un patient</a>#}
                {#</li>#}
                {#<li class="nav-item">#}
                    {#<a class="nav-link" href="{{ path('consultation_new') }}">Nouvelle consultation</a>#}
                {#</li>#}
            {#{% endif %}#}
            {#{% if is_granted('ROLE_USER') %}#}
                {#<li class="nav-item">#}
                    {#<a class="nav-link" href="{{ path('booking_new') }}">Ajouter un Rdv</a>#}
                {#</li>#}
                {#<li class="nav-item">#}
                    {#<a class="nav-link" href="{{ path('booking_index') }}">Liste des Rdv</a>#}
                {#</li>#}
            {#{% endif %}#}
        {#</ul>#}
    {#</div>#}
{#</nav>#}